body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #000;
  color: white;
  overflow: hidden;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.slide {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 2rem;
  position: relative;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease, visibility 1s ease;
}

.slide.active {
  display: flex;
  opacity: 1;
  visibility: visible;
  animation: fadeIn 1.5s ease;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(40px); }
  to { opacity: 1; transform: translateY(0); }
}

button {
  margin-top: 2rem;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 8px;
  background-color: #f06292;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #ff85b0;
  transform: scale(1.05);
}

img {
  max-width: 90%;
  max-height: 70vh; 
  margin-top: 1rem;
  border-radius: 12px;
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.2);
  object-fit: contain;
}

@media (max-width: 768px) {
  img {
    max-width: 100%;
    max-height: 50vh; /
  }
}


.carta {
  position: relative;
  z-index: 2;
  width: 320px;
  height: 250px;
  perspective: 1000px;
}

.frente, .conteudo {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 15px rgba(255,255,255,0.2);
  background-color: rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  transition: transform 0.8s;
}

.frente {
  transform: rotateY(0deg);
}

.conteudo {
  transform: rotateY(180deg);
}

.carta.virada .frente {
  transform: rotateY(-180deg);
}

.carta.virada .conteudo {
  transform: rotateY(0deg);
}

.coracao {
  position: fixed;
  bottom: 0;
  font-size: 24px;
  color: pink;
  animation: flutuar 6s linear forwards;
  z-index: 3;
}

@keyframes flutuar {
  0% { transform: translateY(0) scale(1); opacity: 1; }
  100% { transform: translateY(-800px) scale(0.5); opacity: 0; }
}
